@import "tailwindcss";

:root {
  --primary: #02013b;
  --secondary: #FFFFFF;
  --tertiary: #000000;
  --gray-100: rgba(0, 0, 0, 0.5);
  --gray-50: rgba(0, 0, 0, 0.25);
  --gray-25: rgba(0, 0, 0, 0.125);
  --success: #00FF00;
  --error: #FF0000;
  --warning: #FFFF00;
  --info: #0000FF;
  --light: #FFFFFF;
  --dark: #000000;
  --background: #FFFFFF;
  --text: #000000;
  --content-width: 1200px;
  --gap-sm: 16px;
  --gap-md: 24px;
  --gap-lg: 32px;
  --gap-xl: 48px;
  --horizontal-padding: 16px;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-gray-100: var(--gray-100);
  --color-gray-50: var(--gray-50);
  --color-gray-25: var(--gray-25);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-background: var(--background);
  --spacing-content-width: var(--content-width);
  --spacing-theme-sm: var(--gap-sm);
  --spacing-theme-md: var(--gap-md);
  --spacing-theme-lg: var(--gap-lg);
  --spacing-theme-xl: var(--gap-xl);
  --spacing-horizontal-padding: var(--horizontal-padding);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
}

a {
  @apply hover:underline;
}

h2 {
  @apply text-4xl font-bold text-center;
}

h3 {
  @apply text-2xl font-bold text-center;
}

h4 {
  @apply text-xl font-bold text-center;
}

h5 {
  @apply text-lg font-bold text-center;
}